
/*ultimas runs*/
.ultimasRuns{
    background-color: #565a75;
    color: #fafbf6;
    width: 40%;
    margin: 50px;
    height: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #0f0f1b;
    border-radius: 15px;
}
.ultimasruns .boton a{
    text-decoration: none;
}
.run{
    background-color: #0f0f1b;
    width: 70%;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #0f0f1b;
    border-radius: 15px;
}
/* noticias*/
.noticias{
    background-color: #565a75;
    color: #fafbf6;
    width: 40%;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #0f0f1b;
    border-radius: 15px;
}
.noticia{
    background-color: #0f0f1b;
    width: 70%;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #0f0f1b;
    border-radius: 15px;
}

@media (min-width:326px) and (max-width: 426px){
    
    main{
        flex-wrap: wrap;
    }
    
    .ultimasRuns{
        width: 90%;
    }

    .noticias{
        width: 90%;
    }
}