@font-face {
    font-family: "miFuente";
    src: url("../Fuentes/Trajan Pro Regular.ttf") format("truetype");
  }

*{
    margin: 0px;
}
p, h1, a, h2, h3, h4 { 
    font-family: "miFuente";
  }
main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
/* HEADER */
header{
    height: 12vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0f0f1b;
}
/* logo */
header .logo{
    background-color: #0f0f1b;
}


/* botones en el header */
header .botones{
    width: 60%;
    align-content: center;
}
header .botones ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0;
}
header .botones li{
    display: inline-block;
}
header .botones li a{
    text-decoration: none;
    color: #fafbf6;
}
header .botones li a:hover{
    text-decoration-line: underline;
    text-decoration-color: #c6b7be;
    text-decoration-thickness: 2px;
}
.menuH{
    display: none;
}
.logo{
    margin-left: 50px;
    width: 20%;
    display: flex;
    flex-direction: row;

}
.logo img{
    width:45%;
    margin-left: 30%;
}
.logo a{
    text-decoration: none;
    color: #fafbf6;
}
.logo #texto{
    padding-top: 10px;
}
/* footer */

footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f0f1b;
    color: #fafbf6;
    padding-bottom: 15px;
}
/* botones del footer */
footer .botones{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
footer .botones ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin:0;
}
footer .botones li{
    display: inline-block;
    margin-top: 5px;
}
footer .botones li a{
    text-decoration: none;
    color: #fafbf6;
}