main{
    flex-direction: column;
    align-items: center;
}

.contenedor{
    background-color: #565a75;
    width: 40%;
    margin: 100px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #0f0f1b;
    border-radius: 15px;
}
#informacion{
    height: 100px;
    width:90%;
}
.noticia{
    background-color: #0f0f1b;
    color: #fafbf6;
    width: 70%;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #0f0f1b;
    border-radius: 15px;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
@media (min-width:326px) and (max-width: 426px){
    .contenedor{
        width: 90%;
    }
    #form{
        margin: 75px;
    }
}